:root {
    font-size: 62.5%;
  }
  * {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  a {
    color: #4375d9;
    text-decoration: none;
  }
  
  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .logo-image {
    width: 115px;
    height: 38px;
  }
  
  .image-of-a-satellite-dish {
    width: 50px;
    margin-top: -2rem;
  }
  
  #header {
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
    margin-bottom: 2rem;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
    font-size: 2rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  /* **section -principal-image** */
  .principal-image {
    width: 100%;
    height: 30rem;
    margin-top: 8%;
    margin-bottom: 5rem;
  }
  
  /* **main-body** */
  
  main{
    background-color: #605b5b36;
  }
  
  #come-back-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 100px;
    left: 15px;
  }
  
  h2{
    width: 330px;
    font-size: 40px;
    text-align: center;
    color: #1e1e1e;
    display: block;
    margin: 0 auto 35px auto;
  }
  
  #paragraph-principal {
    background-color: #1e1e1e;
    padding: 3.5rem;
    width: 90%;
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 500;
    line-height: 2.5rem;
  }
  
  .paragraph {
    color: #f27b35;
    font-size: 2rem;
    margin-bottom: 18px;
  }
  
  .btn-read-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.5rem;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 5rem;
    color: #1e1e1e;
    background-color: #f27b35;
    border: transparent;
    text-align: center;
    padding: 1rem;
  
  }
  
  .btn-read-more:hover {
    border: #f27b35;
    background-color: #1e1e1e;
    color: #f27b35;
  }
  
  .company-name {
    font-family: 'Dancing Script', cursive;
  }
  
  .span-of-paragraph-principal {
    display: block;
    margin-bottom: 1.5rem;
  }
  
  #icos-social-networking1{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 15px;
    bottom: 215px;
  }
  
  #icos-social-networking2{
    width: 40px;
    height: 40px;
    position: fixed;
    left: 15px;
    bottom: 160px;
  }
  
  li {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  
  footer {
    background-color: #f27b35;
    width: 100%;
    height: 10rem;
    padding: 20px;
  }
  #middle-of-the-footer {
    width: 100%;
  
    text-align: center;
  }
  
  .footer-text {
    font-size: 10px;
    margin-bottom: 8px;
  }
  
  @media (max-width: 768px) {
    #menu {
      display: block;
      position: absolute;
      width: 60%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      border-radius: 10px;
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      font-family: 'Dancing Script', cursive;
      font-family: 'Diphylleia', serif;
      font-family: 'Grape Nuts', cursive;
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Lobster Two', cursive;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }