:root {
  font-size: 62.5%;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 80vw;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1rem 0.5rem 0.5rem .5rem #605b5ba7;
}

a {
  color: #4375d9;
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

.wrappering-logo {
  display: flex;
  justify-content: center;
}


.logo-image {
  width: 30rem;
}

.image-of-a-satellite-dish {
  width: 70px;
  height: 92px;
}

.d-block {
  height: 42rem;
}

.slide-text {
  position: absolute;
  color: rgb(242, 123, 53);
  bottom: 2rem;
  right: 5rem;
  font-family: Diphylleia, serif;
  font-weight: 600;
  font-size: 6rem;
}

#slide-text1 {
  position: absolute;
  color: #021602;
  text-shadow: .5rem .5rem #605b5ba7;
  bottom: 3.5rem;
  right: 5rem;
  font-family: 'Diphylleia', serif;
  font-weight: 600;
  font-size: 6rem;
  }

#slide-text2 {
  position: absolute;
  color: #1e1e1e;
  bottom: -0.5rem;
  right: 2rem;
  font-family: 'Diphylleia', serif;
  font-weight: 600;
  font-size: 5rem;
}

#slide-text3 {
  position: absolute;
  color: #000000;
  bottom: 3.5rem;
  right: 5rem;
  font-family: 'Diphylleia', serif;
  font-weight: 600;
  font-size: 4.5rem;
  text-shadow: .5rem .5rem #605b5ba7;
}

#nav {
    width: 90%;
    height: 70px;
    display: block;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#header {
  height: 22rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

#principal-button-in-desktop-format {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.principal-menu {
  width: 50rem;
  display: flex;
  gap: 5rem;
  font-size: 1.7rem;
  margin-right: 2.5rem;
  justify-content: center;
  margin-top: -.5rem;
}

.menu-in-desktop {
  font-weight: 600;
}

.more-services {
  display: none;
}

.principal-button-in-desktop-format {
  width: 11rem;
  height: 3rem;
  margin-top: 1.2rem;
  display: block;
  font-size: 1.5rem;
  background-color: #f27b35;
  color: #000000;
  padding: 0.5rem;
  border: solid #f27b35;
  border-radius: 1rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem #605b5b;
}

.principal-button-in-desktop-format:focus {
  width: 11rem;
  height: 3rem;
  margin-top: 2rem;
  display: block;
  font-size: 1.5rem;
  padding: .1rem;
  box-shadow: none;
}

.principal-button-in-desktop-format:hover {
  box-shadow: 0.5rem 0.5rem rgba(0,123,255,.5);
}

.principal-button-in-desktop-format:focus ~ .more-services {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  position: absolute;
  right: 16rem;
  top: 16rem;
  border-color: #f27b35;
}

.menu-in-desktop2 {
  line-height: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.8rem;
} 

.menu-in-desktop2:hover {
  background-color: #605b5b;
}

#menu {
  display: none;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: 2rem;
}

#btn-mobile {
  display: none;
}

/* **section -principal-image** */
.principal-image {
  width: 100%;
  height: 25rem;
  margin-top: 8%;
  margin-bottom: 5rem;
}

/* **main-body** */

main{
  background-color: #605b5b36;
}

h2{
  width: 330px;
  font-size: 40px;
  text-align: center;
  color: #1e1e1e;
  display: block;
  margin: 0 auto 35px auto;
}

#paragraph-principal {
  background-color: #1e1e1e;
  padding: 3.5rem;
  width: 90%;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 35px;
  line-height: 2.5rem;
  font-weight: 500;
}

.paragraph {
  color: #f27b35;
  font-size: 2rem;
  margin-bottom: 18px;
}

.btn-read-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem;
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 5rem;
  color: #1e1e1e;
  background-color: #f27b35;
  border: transparent;
  text-align: center;
  padding: 1rem;

}

.btn-read-more:hover {
  border: #f27b35;
  background-color: #1e1e1e;
  color: #f27b35;
}

.company-name {
  font-family: 'Dancing Script', cursive;
}

.span-of-paragraph-principal {
  display: block;
  margin-bottom: 1.5rem;
}

#come-back-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 15px;
}

#icos-social-networking1{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 215px;
}

#icos-social-networking2{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 160px;
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

footer {
  background-color: #f27b35;
  width: 100%;
  height: 10rem;
  padding: 20px;
}
#middle-of-the-footer {
  width: 100%;

  text-align: center;
}

.footer-text {
  font-size: 10px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  body {
    width: 100vw;
    font-size: 1.6rem;
    font-weight: 500;
  }

  #principal-button-in-desktop-format {
    display: none;
  }

  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }

  #header {
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
    margin-bottom: 2rem;
  }

  .logo-image {
    width: 115px;
    height: 38px;
  }
  
  .image-of-a-satellite-dish {
    width: 50px;
    margin-top: -2rem;
  }

  #menu {
    display: block;
    position: absolute;
    width: 60%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    border-radius: 10px;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    font-family: 'Dancing Script', cursive;
    font-family: 'Diphylleia', serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster Two', cursive;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    margin-right: 1rem;
    outline: none;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav {
    margin: 0;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
  }

  .slide-text {
    position: absolute;
    color: rgb(242, 123, 53);
    bottom: 2rem;
    right: 5rem;
    font-family: Diphylleia, serif;
    font-weight: 600;
    font-size: 4rem;
  }
  
  #slide-text1 {
    position: absolute;
    color: #021602;
    text-shadow: .5rem .5rem #605b5ba7;
    bottom: 3.5rem;
    right: 5rem;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
    font-size: 5rem;
    }
  
  #slide-text2 {
    position: absolute;
    color: #1e1e1e;
    bottom: -0.5rem;
    right: 2rem;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
    font-size: 3.5rem;
  }
  
  #slide-text3 {
    position: absolute;
    color: #000000;
    bottom: 1rem;
    right: 5rem;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: .5rem .5rem #605b5ba7;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .d-block{
    height: 32rem;
  }

  #icos-social-networking1{
    left: 15px;
  }
  
  #icos-social-networking2{
    left: 15px;
  }

  #come-back-top {
    left: 15px;
  }
}