@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Diphylleia&family=Grape+Nuts&family=Josefin+Sans:wght@200;500&family=Lobster+Two:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Diphylleia', serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster Two', cursive;
}

#hamburguer {
    display: none;
}

#background-menu {
    display: none;
}

#hamburguer:focus ~ #background-menu {
    display: block;
}

@media screen and (max-width:768px)
{
    header {
        width: 100%;
        position: fixed;
    }
    
    .logo-wrapper {
        margin-bottom: 20px;
    }

    #logo {
        width: 180px;
        height: 50px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    #hamburguer {
        display: block;
        background-color: transparent;
        color: #000000;
        border: none;
        font-size: 34px;
        position: fixed;
        right: 30px;
        top: 10px;
    } 
    
    #background-menu {
        width: 50%;
        height: 720px;
        background-color: #605b5be8;
        border-radius: 40px;
        position: fixed;
        right: 0;
        margin-bottom: 70px;
    }

    ul {
        list-style: none;
        margin-top: 45px;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 90%;
        font-size: 22px;
    }

    li {
        margin-bottom: 20px;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    }

    li:hover, li::selection {
        background-color:  #f27b35;
        padding: 8px;
        border: transparent;
        border-radius: 50px;
        box-shadow: 3px 3px 3px #000000;
    }

    .options {
        padding-top: 2px;
    }
    .options:hover {
        background-color: #f27b35;
        padding: 15px;
    }
    /*
    .menus {
        display: flex;
        flex-direction: column;
        margin-right: 150px;
    }
    
    #menu1 {
        margin-left: 10px;
    }
    
    #menu2 {
        margin-right: 0;
    }
    
    .options {
        list-style: none;
        background-color: #1E1E1E88;
        margin-bottom: 8px;
        border: transparent 1px;
        border-radius: 100px;
        width: 180px;
        height: 25px;
        text-align: center;
    }
*/   
    /* **section -principal-image** */
    .principal-image {
        width: 100%;
        height: 300px;

        margin-top: 20%;
    }

    /* **main-body** */

    main{
        background-color: #605b5b36;
    }

    #come-back-top {
        width: 36px;
        height: 36px;
        position: fixed;
        bottom: 150px;
        left: 15px;
    }

    h2{
        width: 330px;
        font-size: 40px;
        text-align: center;
        color: #1e1e1e;
        display: block;
        margin: 0 auto 35px auto;
        padding-top: 70px;
    }

    .paragraph-principal {
        background-color: #f27b35;
        padding: 30px;
        width: 85%;
        height: 460px;
        border: transparent;
        border-radius: 20px 0;
        margin-left: 8px;
        margin-bottom: 30px;
    }

    .paragraph {
        color: #1e1e1e;
        font-size: 16px;
        text-align: end;
        margin-bottom: 18px;
    }

    #title, #title2 {
        text-align: center;
        color: #143d56;
        font-size: 23px;
    }

    .principals-services-options {
        background-color: #1e1e1e;
        color: #f27b35;
        width: 300px;
        height: 415px;
        border: transparent;
        border-radius: 20px 0;
        position: relative;
        left: 150px;
        padding: 50px 0 0 75px;
    }
    /*
    .options2{
        font-size: 16px;
        margin-bottom: 10px;
    }*/

    /* **footer** */
    footer {
        background-color: #f27b35;
        width: 100%;
        height: 70px;
        padding: 12px;
        margin-top: 15px;
    }
    .footer-main {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }

    .text-footer {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
        margin-bottom: 8px;
    }
}