:root {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Arial Narrow', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 90vw;
  height: 100vh;
  overflow-x: hidden;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER STYLES */
#header {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#inicio-opcao, #contate-nos-opcao {
  position: absolute;
  top: 4.5rem;
  right: 21rem;
  font-weight: 600;
}

#inicio-opcao:hover, #contate-nos-opcao:hover {
  text-decoration: none;
}

.inicio-opcao, .contate-nos-opcao {
  display: none;
}

#inicio-opcao {
  margin-right: 10rem;
}

#btn-mobile {
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: solid #f27b35;
  border-radius: 10px;
  background-color: #f27b35;
  cursor: pointer;
  gap: 0.5rem;
  outline: none;
  position: absolute;
  top: 3rem;
  right: 7rem;
  color: #ffffff;
  font-weight: 600;
}

.logo-image {
  width: 30rem;
  height: 8rem;
  padding-top: 1rem;
  
}

/* NAV STYLES */
#nav.active #menu {
  border-radius: 10px;
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}

#nav.active #hamburger {
  border-top-color: transparent;
}
#nav.active #hamburger::before {
  transform: rotate(135deg);
}
#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

#menu {
  position: absolute;
  width: 60%;
  top: 70px;
  right: 5.8rem;
  background: #e7e7e7;
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

.wrappering-logo {
  display: flex;
  justify-content: center;
}

.image-of-a-satellite-dish {
  width: 70px;
  height: 92px;
}

/* **section -principal-image** */
.principal-image {
  width: 100%;
  height: 40rem;
  margin-top: 8%;
  margin-bottom: 5rem;
}

/* **main-body** */
main {
  background-color: #605b5b36;
  font-family: 'Arial Narrow', sans-serif;
}

#come-back-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 90px;
  right: 15px;
}

h2 {
  width: 330px;
  font-size: 40px;
  text-align: center;
  color: #1e1e1e;
  display: block;
  margin: 0 auto 35px auto;
  padding-top: 70px;
}

#paragraph-principal,
#paragraph-principal2 {
  background-color: #f27b35;
  padding: 5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.paragraph {
  color: #1e1e1e;
  font-size: 2rem;
  margin-bottom: 18px;
  font-family: 'Arial Narrow', sans-serif;
  text-align: justify;
}

.span-of-paragraph-principal {
  display: block;
  margin-bottom: 2rem;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: 600;
}

#title,
#title2 {
  text-align: center;
  color: #143d56;
  font-size: 23px;
}

#principals-services-options,
#options2,
.options2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Narrow', sans-serif;
}

#principals-services-options {
  width: 64%;
  border-radius: 40px 0 40px 0;
  background: #1e1e1e;
  margin-bottom: 20px;
  padding: 35px;
  position: relative;
  right: -34%;
  z-index: -1;
}

.options2 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: end;
  font-size: 21px;
  line-height: normal;
  color: #f27b35;
}

#whatsapp-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 215px;
}

#instagram-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 160px;
}

#call-center {
  margin-top: 1rem;
  width: 100%;
  height: 20%;
  background: #ffffff;
  padding-bottom: 2rem;
}

.title-opening-hours {
  background-color: #000000;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 6px 2px #605b5b;
}

h5 {
  color: #ffffff;
  font-size: 2rem;
}

.days-week {
  text-align: center;
}

#days-week {
  font-size: 1.8rem;
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.btn-read-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem;
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 2rem;
  color: #ffffff;
  background-color: #f27b35;
  border: transparent;
  text-align: center;
  padding: 1rem;

}

.btn-read-more:hover {
  border: #f27b35;
  background-color: #1e1e1e;
  color: #f27b35;
}

footer {
  background-color: #f27b35;
  width: 100%;
  height: 10rem;
  padding: 20px;
}
#middle-of-the-footer {
  width: 100%;

  text-align: center;
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

#principal-button-in-desktop-format {
  display: none;
}

a {
  color: #4375d9;
  font-family: 'Arial Narrow', sans-serif;
}

.wrappering-logo {
  background: none;
  padding-top: 1rem;
}

.image-of-a-satellite-dish {
  width: 50px;
}

#menu a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
}
#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

@media screen and (max-width:1000px) {
  #btn-mobile {
    right: 1rem;
  }


  #inicio-opcao, #contate-nos-opcao {
    right: 15rem;
  }
}

@media screen and (max-width:900px) {
  body {
    width: 100vw;
  }

  .logo-image {
    width: 16rem;
  }

  #btn-mobile {
    font-size: 1rem;
  }

  #inicio-opcao, #contate-nos-opcao {
    display: none;
  }

  .inicio-opcao, .contate-nos-opcao {
    display: block;
  }

  #menu {
    right: 3.2rem;
  }
  
  .principal-image {
    height: 30rem;
  }
}

@media screen and (max-width:600px) {
  #header {
    justify-content: space-between;
  }

  #menu {
    right: 1.7rem;
  }

  #btn-mobile {
    padding: .5rem;
    border: none;
    width: 3rem;
    right: 2.5rem;
    border-radius: 7px;
  }

  .span-servicos {
    display: none;
  }

  .principal-image {
    height: 30rem;
  }

  .span-of-paragraph-principal {
    font-size: 1.5rem;
  }

  #whatsapp-icon, #instagram-icon, #come-back-top {
    left: 15px;
  }
}

@media screen and (max-width:300px) {
  #header {
    padding: 0.8rem;
    height: 7rem;
    margin-top: 0;
  }

  .logo-image {
    width: 14rem;
  }

  .image-of-a-satellite-dish {
    display: none;
  }

  #btn-mobile {
     right: 1rem;
  }

  .principal-image {
    height: 14rem;
  }
  
  h2 {
    width: 230px;
    font-size: 30px;
  }

  .paragraph {
    font-size: 1.2rem;
  }

  #whatsapp-icon, #instagram-icon, #come-back-top {
    width: 3rem;
    height: 3rem;
  }

  .btn-read-more {
    width: 20rem;
    height: 3.5rem;
    font-size: 1.2rem;
    padding: 1rem;
  }
}